.conteinner__register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1px;
}

/**/
.title_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9a8478;
}
.title_logo > h3 {
  font-family: "Imperial Script", sans-serif;
  font-size: 45px;
}

.toggle-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 46px;
  background: #d5bfb4;
  border-radius: 30px;
  padding: 4px;
  margin: 0.5rem 0;
}

.btn {
  flex: 1;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

.btn.login {
  width: 100%;
  height: 46px;
  display: block;
}
.btn.login a {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.btn.register {
  padding: 10px 0;
  color: #fff;
}

.btn.active {
  background: linear-gradient(90deg, #e0c48a, #d6b36a);
}

.btns button {
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, #e0c48a, #d6b36a);
}

.senha {
  display: flex;
  justify-content: space-between;
}

.senha text-input {
  width: 49%;
}
