# Ambiente
.env
*.env

# Dependências
node_modules/
backend/node_modules/
frontend/node_modules/

# Uploads
backend/uploads/users/*
backend/uploads/categorias/*
backend/uploads/post/*

backend/src/uploads/users/*
backend/src/uploads/categorias/*
backend/src/uploads/post/*

# Ideias
Ideias/

# Build
backend/built/
frontend/dist/

# Logs
*.log
npm-debug.log*